.travels-view-container {
    background-image: url("/img/imgsTravels/bg4-1920500.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    margin: 0;
    padding: 0;
    margin-top: 140px;
}

.travels-content-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:20px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

.card-travels-list{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}