.navbar-container-phone {
    display: none;
}

.navbar-container-desktop {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;

    .navbar-left-part {
        img {
            height: 70px;
        }
    }

    .navbar-middle-part {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            padding-left: 0px;
            list-style: none;

            li {
                text-decoration: none;

                a {
                    text-decoration: none;
                    font-size: 1.1em;
                    font-weight: 700;
                    color: black;
                    transition: 1s
                    
                }
            }           
        }
    }

    .navbar-right-part {
        img {
            width: 50px;
        }
    }
}

.test {
    background-image: url("./img/drakkar-desktop-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

@media (max-width: 750px) {
    .navbar-container-desktop {
        display: none;
    }

    .navbar-container-phone {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        margin-left: 10px;

        .navbar-burger-menu-phone {
            .burger-menu {
                background-color: transparent;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 5px;
                transition: 1s;
            }

            .burger-menu:hover {
                background-color: rgba(255, 255, 255, 0.384);
            }

            .burger-menu-icon {
                scale: 1.5;
                transition: 0.5s ease-out;
            }

            .burger-menu-icon:hover {
                scale:2;
                rotate: 90deg;
            }
        }

        .navbar-logo-phone {
            img {
                height: 70px;
            }
        }
    }
}