.FirstHomeBgView-container {
    position: relative;
    width: 100%;
    height: 920px;
    background-image: url('./img/drakkar-desktop-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .rocket-button {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        right: 50%;
        height: 60px;
        width: 60px;
        border-radius: 40%;
        border-color: rgba(209, 209, 209, 0.295);
        border-style: solid;
        background-color: transparent;
        transition: 0.5s;
        text-decoration: none;
        color: black;

        span {
            transform: rotate(-45deg);
            transition: 1s;
        }
    }

    .rocket-button:hover {
        background-color: rgba(255, 255, 255, 0.274);
        ;

        span {
            transform: rotate(135deg);
        }
    }
}

@media screen and (max-width: 1024px) {
    .FirstHomeBgView-container {
       
        height: 720px;
    }
}