.section-description-view-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #f3ebeb;
    padding-top: 50px;
    padding-bottom: 100px;
}