.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3ebeb;
    padding-top: 30px;
    padding-bottom: 30px;
    

    h2{
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .about-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &__left-part{
            width: 500px;
            font-size: 1.2em;
        }
        
        &__right-part{
            width: 400px;

            img{
                width: 350px;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .about-container{
        .about-content{

            &__left-part{
                width: 350px;
                font-size: 1em;
                padding: 10px;  
            } 
            
            &__right-part{

                img{
                    padding: 10px;
                }             
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .about-container{
        .about-content{

            flex-direction: column-reverse;

            &__left-part{
                width: 500px;
                font-size: 1em;
                text-align:center;
                padding: 10px;  
            } 
            
            &__right-part{

                img{
                    width: 400px;
                    padding: 10px;
                }             
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .about-container{
        .about-content{

            flex-direction: column-reverse;

            &__left-part{
                width: 500px;
                font-size: 1em;
                text-align:center;
                padding: 10px;  
            } 
            
            &__right-part{

                img{
                    width: 400px;
                    padding: 10px;
                }             
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .about-container{
        .about-content{

            flex-direction: column-reverse;

            &__left-part{
                width: 450px;
                font-size: 1em;
                text-align:start;
                padding: 10px;  
            } 
            
            &__right-part{

                img{
                    width: 400px;
                    padding: 10px;
                }             
            }
        }
    }
}

