.travelView-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .travelView-banner {
        width: 100%;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .travelView-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
        margin-right: 10vw;

        .travelView-content-top-part{
           h1 {  
            margin-bottom: 5px;
            text-align: center;
            font-size: 2em;
            }   
            h2{
                text-align: center;
                font-size: 1.3em;
            } 
        }

        .travelView-content-middle-part{
            max-width: 750px;
            text-align: center;
            font-size: 1.2em;
        }
    }
}